@font-face{
font-family: "Emblema One";
src: url("./EmblemaOne-Regular.woff"), url("./EmblemaOne-Regular.ttf");
}

body{
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: small;
}

h1, h2{
  color: #cc6600;
  border-bottom: thin dotted #888888;
}

h1{
  font-family: "Emblema One", sans-serif;
  font-size: 220%;
}

h2{
  font-weight: normal;
  font-size: 130%;
}

blockquote{
  font-style: italic;
}

table{
  margin: 20px, 0px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
}

td, th{
  border: thin dotted gray;
  padding: 5px;
}

th{
  background-color: #cc6600;
}

caption{
  font-style:italic;
  padding-top: 8px;
}

td.centered{
  text-align: center;
}

td.righted{
  text-align: right;
}

tr.colouredcell{
  background-color: #fcba7a;
}

table table{
  border: none;
}

table table th, table table td{
  background-color: white;
  font-weight: normal;
  border: none;
}

ul.backpack{
  list-style-image: url("images/backpack.gif");
  padding-top: 5px;
  margin-left: 20px;
}

/* tr:nth-child(odd){
  background-color: #fcba7a;
} */
